<p id="notice"><%= notice %></p>

<p>
  <strong>Rua:</strong>
  <%= @address.rua %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @address.numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @address.complemento %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @address.bairro %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @address.cep %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Person:</strong>
  <%= @address.person %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
