<%= form_for(gym) do |f| %>
  <% if gym.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gym.errors.count, "error") %> prohibited this gym from being saved:</h2>

      <ul>
      <% gym.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="field">
      <%= f.label :filial %>
      <%= f.number_field :filial %>
    </div>

    <div class="field">
      <%= f.hidden_field :physical_person_id %>
    </div>

       <%= f.fields_for :physical_person do |pp| %>
        <div class="field">
          <%= pp.label :cnpj %>
          <%= pp.text_field :cnpj %>
        </div>

        <div class="field">
          <%= pp.label :nome_fantasia %>
          <%= pp.text_field :nome_fantasia %>
        </div>

        <div class="field">
          <%= pp.hidden_field :person_id %>
        </div>

            <%= pp.fields_for :person do |p| %>
                <div class="field">
                  <%= p.label :nome %>
                  <%= p.text_field :nome %>
                </div>

                <div class="field">
                  <%= p.label :telefone %>
                  <%= p.text_field :telefone %>
                </div>

                <div class="field">
                  <%= p.label :celular %>
                  <%= p.text_field :celular %>
                </div>
            <% end %>

        <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
